.projectsContainer {
	display: flex;
	gap: 24px;
	width: 100%;

	.projectCard {
		display: flex;
		flex-direction: column;
		gap: 16px;
	}
}

.shortDescription {
	margin-bottom: 8px;
}

.projectTitle {
	margin-top: 8px;
}

.subHeader {
	margin-bottom: 16px;
}

@media (width <= 600px) {
	.projectsContainer {
		flex-direction: column;
	}
}
