.leadSpaceContainer {
	align-items: end;
	display: flex;
	flex-direction: row;
	gap: 8px;
	justify-content: left;
	margin-top: 86px;
	width: 100%;

	.content {
		align-items: left;
		display: flex;
		flex-direction: column;
		justify-content: left;
		text-align: left;

		.name {
			font-size: 96px;
			margin-bottom: 12px;
		}
	}

	.imageContainer {
		width: 35%;

		.image {
			height: 100%;
			object-fit: contain;
			width: 100%;
		}
	}
}

@media (width <= 600px) {
	.leadSpaceContainer {
		.content {
			.name {
				font-size: 76px;
				margin-bottom: 8px;
				text-align: center;
			}
		};
	}
}
