.leadSpaceContainer {
	align-items: end;
	display: flex;
	flex-direction: row;
	gap: 8px;
	justify-content: left;
	margin-top: 86px;
	width: 100%;

	.content {
		align-items: left;
		display: flex;
		flex-direction: column;
		justify-content: left;
		text-align: left;

		.name {
			font-size: 96px;
		}
	}

	.imageContainer {
		width: 35%;

		.image {
			height: 100%;
			object-fit: contain;
			width: 100%;
		}
	}
}
