@import './theme';

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	transition: all 0.05s linear;
}

html,
body {
	margin: auto;
	overflow-x: hidden;
}

body {
	background: var(--primary-background);
	color: var(--primary-foreground);
	margin: 0 auto;
}

a {
	color: inherit;
}

svg {

	> path {
		fill: var(--secondary-foreground);
	}
}

p {
	font-size: 18px;
}

h3 {
	font-size: 20px;
}
