@import './theme.scss';

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	transition: all 0.05s linear;
}

html,
body {
	overflow-x: hidden;
	margin: auto;
}

body {
	color: var(--primary-foreground);
	background: var(--primary-background);
	margin: 0 auto;
}

a {
	color: inherit;
}

svg {
	> path {
		fill: var(--secondary-foreground);
	}
}

p {
	font-size: 18px;
}

h3 {
	font-size: 20px;
}
