.headline {
	color: var(--secondary-foreground);
}

.container {
	width: 50%;
	height: 100px;
	display: flex;
	align-items: center;
	justify-content: center;
	background: var(--secondary-background);
}
