.headline {
	color: var(--secondary-foreground);
}

.container {
	align-items: center;
	background: var(--secondary-background);
	display: flex;
	height: 100px;
	justify-content: center;
	width: 50%;
}
