:root {
	--primary-foreground: #234e52;
	--primary-background: #d9f2f5;
	--secondary-foreground: #3498db;
	--secondary-background: #a9cce3;
}

[data-theme='dark'] {
	--primary-foreground: #ecf0f1;
	--primary-background: #3f5872;
	--secondary-foreground: #3498db;
	--secondary-background: #2c3e50;
}
