.sectionContainer {
	border-radius: 8px;
	margin: 16px 0;
	padding-block: 16px;
	width: 100%;
}

.sectionTitle {
	font-size: 48px;
	margin-bottom: 16px;
}

@media (width <= 600px) {
	.sectionTitle {
		font-size: 36px;
	}
}
