.headerContainer {
	align-items: center;
	background: var(--secondary-background);
	border-bottom: 2px solid var(--secondary-foreground);
	display: flex;
	height: 64px;
	justify-content: center;
	padding: 0 16px;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 2;

	.headerItemsContainer {
		align-items: center;
		display: flex;
		justify-content: space-between;
		width: 1100px;
	}

	.title {
		font-weight: 600;
	}

	.leftSectionContainer {
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 16px;
	}

	.navMenu {
		display: flex;
		gap: 8px;
	}

	.navItem {
		text-decoration: none;

		&.activeNavItem {
			border-bottom: 2px solid var(--primary-foreground);
		}
	}
}
