.headerContainer {
	align-items: center;
	background: var(--primary-background);
	display: flex;
	height: 64px;
	justify-content: center;
	padding-inline: 24px;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 2;

	.headerItemsContainer {
		align-items: center;
		display: flex;
		justify-content: space-between;
		width: 1400px;
	}

	.nameLink {
		text-decoration: none;
	};

	.title {
		font-weight: 600;
	}

	.getInTouch {
		align-items: center;
		background: var(--primary-foreground);
		border-radius: 8px;
		color: var(--primary-background);
		display: flex;
		font-weight: bold;
		height: 40px;
		justify-content: center;
		padding-inline: 16px;
		text-decoration: none;
	}
}
