.toggleContainer {
	align-items: center;
	border-radius: 50%;
	display: flex;
	height: 32px;
	justify-content: center;
	width: 32px;

	&:hover {
		background: var(--primary-background);
	}

	.toggleCheckbox {
		height: 0;
		width: 0;
	}

	svg {
		height: 28px;
		width: 28px;
	}
}
